# General Application Settings
ENVIRONMENT=development
DEBUG=true
PORT=8080
APP_NAME=template-servico-python

# Database Connection URL
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydatabase
