# requirements-dev.txt

# Framework de testes para rodar os testes unitários e de integração
pytest

# Linter e formatador de código rápido para Python (substitui Black e Flake8)
ruff

# Checador de tipos estático para encontrar erros de tipo antes da execução
mypy
# Coverage
pytest-cov

# Code duplication checker
pylint

# Teste de mutação
mutmut
