# requirements.txt

# Framework web para a criação da API
Flask==3.0.3

# Servidor WSGI de produção para rodar a aplicação
gunicorn==21.2.0

# Dependência do Flask, travada para garantir compatibilidade
Werkzeug==3.0.3

# Biblioteca para validação de dados (schemas)
pydantic==2.7.1

# Gerenciamento de configurações centralizadas via Pydantic v2
pydantic-settings==2.2.1

# ORM e Gerenciamento de Banco de Dados
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9

# Documentação OpenAPI e Swagger UI
flask-swagger-ui==4.11.1